﻿@model CORF_MGMT.study

@*@{
        Layout = null;
    }

    <!DOCTYPE html>

    <html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>create</title>
    </head>
    <body>
        <div>
        </div>
    </body>
    </html>*@


@{
    ViewBag.Title = "create";
}


<style>
    .Create {
        background-color: aquamarine;
    }
</style>
<form>
    <div>
        <h1 align="center">Study Details</h1><br />
        <table align="center">
            <tr>
                <td>
                    <label>Study Id </label>
                </td>
                <td>
                    <input type="text" name="firstname" required>
                </td>



            </tr>
            <tr>
                <td>
                    <label>Objective </label>
                </td>
                <td>
                    <input type="text" name="firstname" required>
                </td>
            </tr>
            <tr>
                <td>
                    <label>Start Date </label>
                </td>
                <td>
                    <input type="text" name="firstname" required>
                </td>
                <td>
                    <label>End Date </label>
                </td>
                <td>
                    <input type="text" name="firstname" required>

                </td>
            </tr>
            <tr>
                <td>
                    <label>Study Duration </label>
                </td>
                <td>
                    <input type="text" name="firstname" required>
                    <label>months</label>
                </td>
            </tr>
            <tr>
                <td>
                    <label>Sample Size </label>
                </td>
                <td>
                    <input type="text" name="firstname" required>
                </td>
            </tr>
            <tr>
                <td>
                    <label>Number Of Visits </label>
                </td>
                <td>
                    <input type="text" name="firstname" required>
                </td>
            </tr>
            <tr>
                <td>
                    <label>Population type </label>
                </td>
                <td>
                    <input type="radio" name="Adults">   Adults


                    <input type="radio" name="Children">  Children
                </td>
            </tr>
            <br />
            <br />
            <div align="center">
                <tr>
                    <td></td>
                    <td>
                        <input class="Create" type="button" value="Save" onclick="location.href='@Url.Action("save","Study")'" />&nbsp;&nbsp;&nbsp;
                        <input class="Create" type="button" value=" Refresh" onclick="location.href='@Url.Action("create","Study")'" />      &nbsp;&nbsp;&nbsp;
                        <input class="Create" type="button" value="Cancel" onclick="location.href='@Url.Action("Study","Study")'" />
                    </td>
                </tr>
            </div>
        </table>
    </div>
</form>

