﻿@model IEnumerable<CORF_MGMT.study>

@{
    ViewBag.Title = "Study";
}

@*<h2>Study</h2>*@
<style>
    .Create {
        background-color:whitesmoke;
    }
    .sai {
        color:white
    }
</style>

<form style="background-color:black">
    <div>
        <h1 style="color:white"><center>Create/Maintain Study</h1><br />
        <table align="center" colspan="2">
            <tr>
                <td>
                    <label class="sai">SelectStudy</label>
                    <select>
                        <option value="Dropdown"></option>
                        <option value="Dropdown">Adults</option>
                        <option value="Dropdown">Child</option>
                        <option value="Dropdown">Oldpeople</option>


                    </select>
                    <br />
                    <br />

                </td>
                <div style="background-color:palevioletred">

            <tr>
                <td>

                    <input type="button" class="Create" value="Create" onClick="location.href='@Url.Action("create","Study")'" /> &nbsp;&nbsp;
                    <button class="Create" type="button">Update</button>&nbsp;&nbsp;
                    <input value="Back" class="Create" type="button" onClick="location.href='@Url.Action("Index","test")'"/>

                </td>
            </tr>


    </div>

    </tr>

    </table>

    </div>

</form>

