﻿@model CORF_MGMT.cookedfood

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Add</title>
    <style>
        .btn {
            background-color:darkblue;
        }

        .btn {
            background-color:darkblue; 
            border: none;
            color: white;
            padding: 5px 10px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 4px 2px;
            cursor: pointer;
        }
    </style>
    

</head>

<body>

    
        @*@Html.AntiForgeryToken()

                <div class="form-horizontal">
                    <h4>cookedfood</h4>
                    <hr />
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        @Html.LabelFor(model => model.Cf_Id, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Cf_Id, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Cf_Id, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Cf_Name, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Cf_Name, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Cf_Name, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Create" class="btn btn-default" />
                        </div>
                    </div>
                </div>
            }

            <div>
                @Html.ActionLink("Back to List", "Cooked")
            </div>*@
    <div>
        <h4 align="center">Add a Cooked Item</h4>
        <h4 align="center">Food Item Name       <span style="color:red">*</span>       <input type="text" name="fname" required /></h4>
        <h4 align="center">Total Cookedfood Items in gms     <span style="color:red">*</span> <input type="text" name="fname" required /></h4>

        <table width="100%" border="1">
            <tr>
                <th><span style="color:red">*</span>  RawMaterials&nbsp;</th>
                <th><span style="color:red">*</span>  Weight in gms&nbsp;</th>


            </tr>
            <tr>
                <td>&nbsp;</td>
                <td>&nbsp;</td>


            </tr>
            <tr>
                <td>&nbsp;</td>
                <td>&nbsp;</td>


            </tr>
            <tr>
                <td>&nbsp;</td>
                <td>&nbsp;</td>


            </tr>
        </table>
        <br />
        <div align="center">
            <input type="button" class="btn" value="ADD" onclick="location.href='@Url.Action("Add","Cookedfood")'" />

            <input type="button" class="btn" value="Cancel" onclick="location.href='@Url.Action("Cooked","CookedFood")'" />
        </div>



      

    </div>
    </body>
</html>
