﻿


<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>



</head>
<body>
  
    <div>
        <h1 align="center">List Of Cooked Items</h1>
        <center>
            <span><b>Keyword</b></span> <input type="text" id="txt" name="txt">  <button type="button" class="btn btn-primary btn-sm">Search</button>

        </center>
        <table width="100%" border="1">
            <tr>
                <th><b>NutritionId</b>&nbsp;</th>
                <th><b>Name</b>&nbsp;</th>
                <th><b>ViewNutrients</b>&nbsp;</th>

            </tr>
            
            <tr>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td><u><a href="#">ClickHere</a></u>&nbsp;</td>

            </tr>
            <tr>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td><u><a href="#">ClickHere</a></u>&nbsp;</td>

            </tr>
            <tr>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td><u><a href="#">ClickHere</a></u>&nbsp;</td>

            </tr>

        </table>
        <br/>
        <div align="center">
            <input type="button" class="btn btn-primary btn-sm" value="ADD" onclick="location.href='@Url.Action("Add","Cookedfood")'"/>
            
            <button type="button" class="btn btn-primary btn-sm">Cancel</button>
        </div>

       
    </div>
</body>
</html>
