﻿@model CORF_MGMT.user

@{
    ViewBag.Title = "Login";
}

<html>

    <head>
        @*<meta name="viewport" content="width=device-width, initial-scale=1">*@
<style>
        body {
            font-family: Arial, Helvetica, sans-serif;
        }

        form {
            border: 3px solid white;
        }

        input[type=text], input[type=password] {
            width: 100%;
            padding: 12px 20px;
            margin: 8px 0;
            display: inline-block;
            border: 1px solid #ccc;
            box-sizing: border-box;
        }
    input[type=button] {
        width: auto;
        padding: 8px 12px;
        background-color: Highlight;
    }
        button {
            /*color: white;*/
            padding: 8px 10px;
            margin: 8px 0;
            border: none;
            cursor: pointer;
            width: 100%;
        }

            button:hover {
                opacity: 0.8;
            }

        .cancelbtn {
            width: auto;
            padding: 8px 12px;
            background-color: Highlight;
        }

        .imgcontainer {
            text-align: center;
            margin: 10px 0 12px 0;
        }

        img.avatar {
            width: 15%;
            border-radius: 15%;
        }

        /*.container {
        padding: 10px;
        width:70%;
        align:center;
    }*/

        span.psw {
            float: right;
            padding-top: 16px;
        }

        /* Change styles for span and cancel button on extra small screens */

</style>
</head>


    <body>

        @*<h2>Login Form</h2>*@
        <h1 align="center">Sign In</h1>

        <div class="imgcontainer">
            <img src="~/image/corf_logo.png" alt="Avatar" class="avatar" />
        </div>
        @using (Html.BeginForm("Login1", "Login", FormMethod.Post))
        {
        <div class="form-group" align="center">

            @*<label for="uname"><b>Username</b></label>
            <input type="text" class="form-control" placeholder="Enter Username" name="uname" required>*@
            uname @Html.TextBoxFor(l => l.Email_id)
            <br />

            @*<label for="psw"><b>Password</b></label>
            <input type="password" placeholder="Enter Password" name="psw" required>*@
            password @Html.TextBoxFor(l => l.Password)

        </div>
        <div class="form-group">
            <center>

                
                <button type="submit" class="cancelbtn">Submit</button>
                &nbsp;  &nbsp;
                <input type="button"  value="Refresh" onclick="location.href='@Url.Action("Login","Login")'"/>
                &nbsp;  &nbsp;
                <input type="button" value="Cancel"  onclick="location.href='@Url.Action("Index","Home")'" />
               
            </center>
        </div>
        }
    </body>
</html>



