﻿@*<h1 style="text-align:center">Welcome to CORF</h1><br />
    <h1 style="text-align:center">Nutrition Research System</h1><br/>*@
@*<a href="Login.cshtml"><center><u>Click here to Login</u></center></a>*@

<table>
    <td>
        <img src="~/image/Nutrition-at-the-heart-of-the-SDGs_001.jpg" width="350" height="350" />
    </td>
    <td>
        <h2>
            <font size="12" color="lightpink " Open Sans"">
                <center>
                    <b>
                        Welcome to CORF Nutrition Research System
                    </b>
                </center>
            </font>
        </h2>
        <center style="color:lightgreen;">@Html.ActionLink("Click here to Login", "Login", "Login")</center>
    </td>
</table>
