﻿<!DOCTYPE html>
<html>
<head>
    <title>@Page.Title</title>
    @RenderSection("head", required: false)
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
    @RenderBody()
    <h1>Nutrition Research System-Main Menu</h1>
    <nav class="navbar navbar-inverse">
        <ul class="nav navbar-nav">
            @*<li><a href="~/">Study</a></li>*@
            <li><a href="/Study/Study" class="elements"><span>Study</span></a></li>
            <li><a href="#">Enroll Subjects</a></li>
            <li><a href="#">Nutrition Master</a></li>
            <li><a href="#">Raw Materials</a></li>
            <li><a href="#">Cooked Foods</a></li>
            <li><a href="#">Food Consumption Records</a></li>
            <li><a href="#">Research associate details</a></li>
            <li><a href="#">Report</a></li>
            <li><a href="#">Logout</a></li>
            
        </ul>
        @*<p class="navbar-text">Some text</p>*@
    </nav>

</body>


</html>
